<div class="collapse navbar-collapse bg-dark nav-font fixed-bottom border-warning">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item p-3">
            <a href="https://twitter.com/" class="text-white pad-right" ><i class="fab fa-twitter-square fa-2x"></i></a> 
        </li>
        <li class="nav-item p-3">            
            <a href="https://www.facebook.com/" class="text-white pad-right" ><i class="fab fa-facebook-square fa-2x"></i></a>
        </li>
        <li class="nav-item p-3">    
            <a href="https://www.instagram.com/" class="text-white pad-right" ><i class="fab fa-instagram-square fa-2x"></i></a> 
        </li>
        <li class="nav-item p-3">    
            <a href="https://www.snapchat.com/" class="text-white pad-right" ><i class="fab fa-snapchat-square fa-2x"></i></a> 
        </li>
    </ul>
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item pl-3 pr-3 ">            
                <a href="{% url 'home' %}" class="text-right">
                    <h2 class="logo-font my-0 text-white text-right">Jobra Valley</h2>
                    <p class="logo-font my-0 text-warning text-right">Farming Co-op</p>
                </a>                
            
        </li>
                
    </ul>
</div>