
<ul class="fixed-bottom bg-dark text-center ml-3 mr-3 d-block d-lg-none border border-warning rounded">
<li class="list-inline-item  ">    
        <a href="https://twitter.com/" class="text-white nav-link d-block d-lg-none pr-2" ><i class="fab fa-twitter-square fa-2x "></i></a>      
</li>
<li class="list-inline-item  ">    
        <a href="https://www.facebook.com/"  class="text-white nav-link d-block d-lg-none pl-2 pr-2"><i class="fab fa-facebook-square fa-2x "></i></a>
    
</li>
<li class="list-inline-item   ">
    
        <a href="https://www.instagram.com/" class="text-white nav-link d-block d-lg-none pl-2 pr-2" ><i class="fab fa-instagram-square fa-2x "></i></a> 
  
</li>

<li class="list-inline-item ">    
        <a href="{% url 'home' %}" class="text-warning nav-link d-block d-lg-none pl-2" ><i class="fa fa-home fa-2x "></i></a> 
</ul>
