{% extends "base.html" %} 
{% load static %} 




{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 


{% block content %}
        <div class="container h-100 pb-5 pt-5">
            <div class="row h-75">
                

                

                <div class="col-12 col-md-6 ">
                    <div class="col-12 "> 
                        <img src="https://foyle-valley-farms.s3-eu-west-1.amazonaws.com/media/Tractor-banner.png" alt="tractor_banner">                   
                    </div>

                    <div class="col-12 mt-3">
                        <h1>About</h1>
                        <p> At Jobra Valey Farms we take food very seriously and most certainly favour 'living to eat' over 'eating to live'; 
                            if you feel likewise then we'll get on very well. With so many irresistible products to choose from, 
                            you will undoubtedly run out of arm space at home when your food gets delivered. 
                            We’ve seen it happen time and time again. Oh, you’ve just come for a bit of steak mince? Sure, sure. Best of luck to you.
                            Take your time as you meander through out site stocked up with daily provisions, and pantry essentials. What have we 
                            brought down from the field today? Did our deli chef, make your favourite Cottage Pie last night? 
                            Or has she created something new? Is there still some of that amazing sourdough left? Oh, and don’t forget the milk, 
                            and eggs, and steak , and carrots, and cabbage, and…and…and...</p>
                    </div>
                </div>

                <div class="col-12 col-md-6 mt-3" >                
                         <img src="https://foyle-valley-farms.s3-eu-west-1.amazonaws.com/media/mixed_veg_box.jpg" alt="mixed_veg">        
                </div>
        </div>
 
{% endblock %}