{% extends "base.html" %} 
{% load static %} 




{% block page_header %}
    <div class="container header-container pt-5 pb-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 


{% block content %}
    <div class="container h-100 pb-5 pt-5">
        <div class="row h-100">
            <div class="col-12 col-md-6 mb-5">
            <div class="row">
                <h4 class=" mb-3 font-weight-bold pt-5 col-12">Jobra Valley Farms</h4>
                <i class="fas fa-map-marker-alt fa-2x text-warning col-1"></i><p class="col-11">
                We are supplied by multiple farms around Hathazari,Chittagong,Bangladesh<br>
                Head office : Jobra Valley Farms <br>
                1 NO. Railgate,Chittagong Univerity Campus <br>
                Fotehpur
                <br/>Bangladesh </p>
                <i class="fas fa-phone-alt fa-2x text-warning col-1"></i><p class="col-11"> +8801538338226</p>
               <i class="fas fa-envelope fa-2x text-warning col-1"></i> <p class="col-11"> info@jobra-valley-farms.com</p>
                </div>
            </div>   
                  
    

        
            <div class="col-12 col-md-6 mb-5 d-none d-lg-block">
                <img src="https://foyle-valley-farms.s3-eu-west-1.amazonaws.com/media/mail-box.jpg"  alt="mail_box" class="border border-dark rounded">
            </div>

            <div class="col-12 col-md-6  pt-5 rounded pb-5 bg-dark">
                <h3 class="font-weight-bold text-light" >Need further information on products please feel free to contact us</h3>
                <form method="POST" action="{% url 'contact' %}" class="text-light">
                    {% csrf_token %}
                    {{ contact_form|crispy }}
                    <div class="text-center mb-2 mt-4">
                        <button type="submit" id="contact-form-btn" class="btn btn-outline-black border border-light rounded text-light">Send</button>
                    </div>
                </form>
            </div>
        


            <div class="col-12 col-md-6  pt-5 rounded pb-5">
                <div class="pl-5" >
                <h5 class="display-5 pt-5" >Jobra Valley Farms</h5>
                <h6 class="pt-3 pb-3">Opening hours:</h6>
                <table>
                    <tr><th>Monday</th><td>8am - 8pm</td></tr>
                    <tr><th>Tuesday</th><td>8am - 8pm</td></tr>
                    <tr><th>Wednesday</th><td>8am - 8pm</td></tr>
                    <tr><th>Thursday</th><td>8am - 8pm</td></tr>
                    <tr><th>Friday</th><td>8am - 8pm</td></tr>
                    <tr><th>Saturday</th><td>8am - 8pm</td></tr>
                    <tr><th>Sunday</th><td>1pm-6pm</td></tr>
                </table>
                </div>
            </div>
            <div class="w-100 p-5"></div>
    </div>
    
</div>
        
        





{% endblock %}

